
###> symfony/framework-bundle ###
/.env
/.env.dev
/.env.test
/.env.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###< nginx/nginx.conf ###
docker/nginx/conf.d/default.conf

###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

## db setup (for migration to instance vm)
gotix_appdb.sql

letsencrypt/

## db setup (for migration to instance vm)
gotix_appdb.sql

letsencrypt/
/public/build/
node_modules

captcha_log.json
debug_result.json
debug_token.txt