<!DOCTYPE html>
<html>
  <body>
    <p>Hello {{ name }},</p>

    <p>You requested to <strong>{{ action }}</strong> Two-Factor Authentication (2FA) for your GoTix account.</p>

    <p>Your OTP code is:</p>

    <h2 style="color:#2E86C1;">{{ otp }}</h2>

    <p>This code will expire in 5 minutes. If you didn’t request this change, please ignore this email.</p>

    <p>Thanks,<br>The GoTix Security Team</p>
  </body>
</html>