<div class="g-recaptcha my-3" data-sitekey="{{ recaptcha_site_key }}"></div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


    {# Include below to wrap captcha widget in a hidden wrapper on selected critical pages #}

{# 
<div id="recaptcha-wrapper" style="display: none;">
    <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
</div>
#}
